body {
	background: url("../img/wood.png") no-repeat top;
	/*-moz-background-size: 100%; !* Firefox 3.6+ *!
	-webkit-background-size: 100%; !* Safari 3.1+ и Chrome 4.0+ *!
	-o-background-size: 100%; !* Opera 9.6+ *!
	background-size: 100%; !* Современные браузеры *!*/
	/* Style for "Ваш выбор," */
/*	width: 302px;
	height: 103px;
	color: #313131;
	font-family: museo-sans, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 55.79px;
	!* Text style for "Ваш выбор," *!
	letter-spacing: -0.5px;*/
}

.main {
	width: 1358px;
	height: 701px;
	margin: 0 auto;
}

.redlines {
	position: absolute;
	/* Style for "1180" */
	width: 1180px;
	height: 780px;
	margin-left: 90px;
}

.wrapper {
	width: 1358px;
	margin: 0 auto;
}

header {
	height: 86px;
	position: absolute;
	background-color: white;
	left: 0;
	right: 0;
}

.header-wrap {
	display: flex;
	align-items: center;
}

.logo {
	margin-top: 13px;
	margin-left: 90px;
}

.menu {
	/* Style for "О компании" */
	width: 510px;
	height: 16px;
	color: #4b4b4b;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24.91px;
	list-style: none;
	display: flex;
	margin-left: 406px;
	margin-bottom: 33px;
}

.menu__item {
	margin-right: 58px;
}

.menu__item:last-child {
	margin-right: -45px;
}

.menu__link {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: #4b4b4b;
}
.menu__link:hover {
	color: #e54646;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.search {
	top: 37px;
	position: absolute;
	margin-left: 1247px;
}

.meatpic {
	position: absolute;
	margin-left: 708px;
}

footer {
	width: 1358px;
	height: 79px;
	margin: 0 auto;
	background-color: #474747;
	left: 0;
	right: 0;
}

.footer-wrap {
	display: flex;
	align-items: center;
}

.copyright {
	width: 210px;
	height: 16px;
	opacity: 0.5;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 79px;
	margin-left: 89px;
}

